body {
	font-family: sans-serif;
}

div.intro,
div.usage,
div.stationlist,
div.globalstats {
	margin-bottom: 1em;
}

div.about {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	color: #666666;
}

input, select {
	border: 1px solid black;
}

input.dimension {
	width: 4em;
}

input.delay {
	width: 3em;
}

div.field {
	width: 100%;
	clear: both;
}

div.field div.desc {
	float: left;
	width: 12em;
	text-align: right;
	padding-right: 0.5em;
}

svg {
  font: 10px sans-serif;
}

arc path {
   stroke: #fff;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: orange;
}

.bar:hover {
  fill: orangered ;
}

.x.axis path {
  display: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
